.App {
  background: rgb(122,54,177);
  background: linear-gradient(90deg, rgba(122,54,177,1) 0%, rgba(67,120,174,1) 100%); 
  color: #ffffff;
  font-size: 2.2rem; 
  height: 100vh;
}

header {
  text-align: center;
}

.input-container {
  max-width: 320px;
  margin: 0 auto;
}

.input {
  border: 2px solid #dbdbdb;
  border-radius: 10px;
  width: 100%;
  font-size: 2.2rem;
  padding: 1.25rem 2rem 1.25rem 5rem; 
  background-image: url('/public/search.png');
  background-size: 2.4rem;
  background-repeat: no-repeat;
  background-position: 1.5rem center;
  box-sizing: border-box;
  position: relative;

}

.autocomplete {
  background: #ffffff;
  color: #000000;
  width: 100%;
  display: block;
  
}

.autocomplete__list {
  list-style: none;
  margin: -1rem 0 0 0;
  padding: 1rem 0 0 0;

}

.autocomplete__list__item {
  cursor: pointer;
  padding: 2rem;
  display: block;
}

.autocomplete__list__item:hover {
  background: rgb(242, 242, 242);
}